* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
    padding: 30px 30px 25px 30px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.profile-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid #f39c12;
    margin: 0 auto 18px auto;
}

.profile-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
}

.role {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.email {
    font-size: 13px;
    color: #444;
    margin: 32px 0 21px 0;
}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #f39c12;
    color: #fff;
    font-weight: 600;
    transition: 0.2s ease;
    margin: 0 5px 0 5px;
}

.btn:hover {
    background: #cf830a;
    transform: scale(1.08);
}